<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.happy.downloaderplugin"
      version="1.0">
    <name>Downloader</name>
    <description>Downloader Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,downloader</keywords>
 
    <js-module src="www/Downloader.js" name="Downloader">
        <clobbers target="Downloader" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Downloader">
                <param name="android-package" value="com.happy.downloaderplugin.Downloader"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file> 
        <source-file src="src/android/Downloader.java" target-dir="src/com/happy/downloaderplugin" />     
     </platform>         
</plugin>